//- <!--#if expr="$HTTP_COOKIE=/webfont-loaded=true/" -->
//- <html lang="en" class="webfont-loaded">
//- <!--#else -->
//- <html lang='en'>
//- <!--#endif -->

doctype
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Portfolio
		link(rel="stylesheet", href="./vendors/normalize/css/normalize.min.css")
		link(rel="stylesheet", href="./resources/css/style.css")
		link(rel="stylesheet", href="./vendors/font-awesome/css/fontawesome-all.min.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700")
	body
		#particles
		section.wrapper
			.left
				.home
					.info.animated.fadeInLeft
						.info-title José Pereira
						.info-body
							| I'm a 
							strong Software Developer
							|  based in Leiria, Portugal 
							img.country-flag(src="./resources/images/country-flag.png")
						.info-buttons
							.pull-left 
								a.btn-info(href="#info") 
									i.fas.fa-bars
									span Portfolio
							.social-buttons.pull-right
								a.github(href="https://github.com/jomifepe" target="_blank")
									i.fab.fa-github.fa-3x
								a.linkedin(href="https://linkedin.com/in/jomifepe" target="_blank")
									i.fab.fa-linkedin.fa-3x
					

			.right
				.content-wrapper
					//- section.content#about
					//- section.content#projects
					//- 	.projects-wrapper
					//- 		.card#kodi-remote(data-tilt)
					//- 			.card-title 
					//- 				h3  Kodi Remote
					//- 					i.pull-right.fab.fa-android.fa-lg
					//- 			.card-body
					//- 				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					//- 		.card#smart-ps(data-tilt)
					//- 			.card-title 
					//- 				h3 	Smart Power Strip
					//- 					i.pull-right.fas.fa-microchip.fa-lg
					//- 			.card-body 
					//- 				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					//- 		.card#smart-ps(data-tilt)
					//- 			.card-title 
					//- 				h3 	Smart Power Strip
					//- 					i.pull-right.fas.fa-microchip.fa-lg
					//- 			.card-body 
					//- 				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					//- section.content#skills
					//- 	.skill-tags
					//- 		canvas#skill-tags-canvas(width="500" height="500")
					//- 			- var tags = ['HTML5/HAML/PUG','Javascript','jQuery','CSS3/SASS','Bootstrap','JSON','AJAX','PHP','C','Java','Android','SQL','Arduino'];
					//- 			ul
					//- 				each tag in tags
					//- 					li
					//- 						a(href="#")= tag
					//- section.content#contact

		script(src="./vendors/jquery/js/jquery-2.1.1.min.js")
		//- script(src="./vendors/jquery/js/jquery.scrollex.min.js")
		//- script(src="./vendors/jquery/js/jquery.scrolly.min.js")
		//- script(src="./vendors/skel/js/skel.min.js")
		script(src="./vendors/particles/js/particles.min.js")
		//- script(src="./vendors/tilt/js/tilt.jquery.min.js")
		//- script(src="./vendors/tagcanvas/js/jquery.tagcanvas.min.js")
		//- script(src="./vendors/bootstrap/js/bootstrap.min.js")
		script(src="./resources/js/scripts.js")