@mixin vendor-prefix($name, $argument...) {
    -webkit-#{$name}: #{$argument};
       -moz-#{$name}: #{$argument};
        -ms-#{$name}: #{$argument};
         -o-#{$name}: #{$argument};
            #{$name}: #{$argument};
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	   -moz-border-radius: $radius;
		-ms-border-radius: $radius;
			border-radius: $radius;
}

@mixin flexbox() {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -webkit-box;	
	display: -moz-box;
	display: flex;
}

@mixin transition($transition...) {
    -webkit-transition: $transition;
       -moz-transition: $transition;
        -ms-transition: $transition;
         -o-transition: $transition;
            transition: $transition;
}
@mixin transition-delay($delay...) {
    -webkit-transition-delay: $delay;
       -moz-transition-delay: $delay;
        -ms-transition-delay: $delay;
         -o-transition-delay: $delay;
            transition-delay: $delay;
}
@mixin transition-timing-function($timing...) {
    -webkit-transition-timing-function: $timing;
       -moz-transition-timing-function: $timing;
        -ms-transition-timing-function: $timing;
         -o-transition-timing-function: $timing;
            transition-timing-function: $timing;
}
@mixin transition-duration($duration...) {
    -webkit-transition-duration: $duration;
       -moz-transition-duration: $duration;
        -ms-transition-duration: $duration;
         -o-transition-duration: $duration;
            transition-duration: $duration;
}
@mixin transition-property($property...) {
    -webkit-transition-property: $property;
       -moz-transition-property: $property;
        -ms-transition-property: $property;
         -o-transition-property: $property;
            transition-property: $property;
}
@mixin animation-delay($delay...) {
    -webkit-animation-delay: $delay;
       -moz-animation-delay: $delay;
        -ms-animation-delay: $delay;
         -o-animation-delay: $delay;
            animation-delay: $delay;
}