$font-content: 'Roboto', sans-serif;
$font-mono: 'Roboto Mono', monospace;

$white:				#fff;
$black:				#000;
$red-a400:			#ff004c;

$grey-50:			#FAFAFA;
$grey-100:			#F5F5F5;
$grey-200:			#EEEEEE;
$grey-300:			#E0E0E0;
$grey-400:			#BDBDBD;
$grey-500:			#9E9E9E;
$grey-600:			#757575;
$grey-700:			#616161;
$grey-800:			#424242;
$grey-850:			#333333;
$grey-900:			#212121;
$grey-950:			#111111;

$body-text-color: $grey-600;
$lightgreen-A400:	#76FF03;

$social-linkedin:	#0077b5;
$social-github:		$black;	
$social-greasyfork:	#9b1717;	

$android-green: #32DE84;
$tux-orange: #F5BE0C;