*, *:before, *:after {
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

::-moz-selection {
  background: #ff004c;
  color: #fff;
}

::selection {
  background: #ff004c;
  color: #fff;
}

::-moz-selection {
  background: #ff004c;
  color: #fff;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.45;
}

body {
  margin: 0;
  background-color: #212121;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  color: white;
  margin-top: .8rem;
  margin-bottom: .6rem;
  font-weight: normal;
  line-height: 1.25;
  letter-spacing: -.03em;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2.5rem;
  font-weight: normal;
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(rgba(255, 255, 255, 0.75)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

canvas {
  width: 100%;
  display: block;
}

#particles {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  width: 100%;
  height: 100vh;
  position: fixed;
}

.faded-50 {
  opacity: .5;
}

.faded-30 {
  opacity: .3;
}

.faded-10 {
  opacity: .1;
}

.wrapper {
  position: relative;
  display: block;
  pointer-events: none;
}

.left,
.right {
  top: 0;
  pointer-events: none;
  height: 100vh;
}

.left {
  width: 100%;
  left: 0;
  position: relative;
  overflow: hidden;
}

.right {
  position: fixed;
  z-index: 1;
}

.right.expanded {
  visibility: visible;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateX(-10%);
  transform: translateX(-10%);
}

.content {
  padding: 30px;
}

.home {
  display: table;
  pointer-events: none;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 8%;
  padding-right: 8%;
  height: 100vh;
}

.home a, .home span {
  pointer-events: auto !important;
}

.home .info .info-title {
  margin-bottom: 30px;
}

.home .info .info-title span {
  vertical-align: middle;
  margin-left: 20px;
  color: #fff;
  font-size: 700%;
  letter-spacing: -1.5px;
}

.home .info .info-title img {
  pointer-events: auto;
}

.home .info .info-body {
  pointer-events: none;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  margin-top: 5px;
  font-size: 150%;
  color: #757575;
  letter-spacing: 0.25px;
}

.home .info .info-body .terminal {
  font-weight: 700;
  background: #111111;
}

.home .info .info-body .terminal .terminal-prompt {
  color: #76FF03;
}

.home .info .info-body .terminal .terminal-text, .home .info .info-body .terminal .terminal-caret {
  color: #E0E0E0;
}

.home .info .info-body .country-flag {
  margin-left: 5px;
  width: 25px;
  vertical-align: middle;
}

.home .info .info-buttons {
  width: 100%;
  margin-top: 50px;
  pointer-events: none;
  display: inline-block;
}

.home .info .info-buttons .btn-info {
  display: block;
  padding: 13px 25px 13px 25px;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #E0E0E0;
  background-color: #424242;
  border-radius: 50px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.home .info .info-buttons .btn-info .fas, .home .info .info-buttons .btn-info .far, .home .info .info-buttons .btn-info .fal, .home .info .info-buttons .btn-info .fab {
  margin-right: 10px;
}

.home .info .info-buttons .btn-info:hover {
  background-color: #333333;
}

.home .info .info-buttons .social-buttons {
  display: inline-block;
}

.home .info .info-buttons .social-buttons a {
  color: #424242;
  display: inline-block;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  font-size: 3em;
}

.home .info .info-buttons .social-buttons a.email:hover {
  color: #fff;
}

.home .info .info-buttons .social-buttons a.linkedin:hover {
  color: #0077b5;
}

.home .info .info-buttons .social-buttons a.github:hover {
  color: #000;
}

.home .info .info-buttons .social-buttons a.greasyfork:hover {
  color: #9b1717;
}

.home .info .info-buttons .social-buttons a:not(:last-child) {
  margin-right: 15px;
}

.blink {
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-name: blink;
  animation-name: blink;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps(2, start);
  animation-timing-function: steps(2, start);
}

@-webkit-keyframes blink {
  80% {
    visibility: hidden;
  }
}

@keyframes blink {
  80% {
    visibility: hidden;
  }
}

img.me {
  vertical-align: middle;
  background-image: url("../images/me.jpg");
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 3px solid #fff;
  -webkit-box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.3);
  max-width: 128px;
}

.name {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.dim {
  color: #ffffffa8;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.more-info {
  letter-spacing: .12px;
  margin-top: 16px;
  font-size: 18px;
}

.more-info .fa-heart {
  color: #ff4757;
  margin-right: 8px;
}

.more-info a.linux-text {
  text-decoration: none;
  font-weight: 700;
  color: #9E9E9E;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.more-info a.linux-text:hover {
  color: #F5BE0C;
}

.block {
  display: block;
}

.text-mono {
  font-family: "Roboto Mono", monospace;
}

.android-text {
  font-weight: 700;
  color: #9E9E9E;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.android-text:hover {
  color: #32DE84;
}

#nav-projects {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

#nav-skills {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

#nav-contact {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

@media (max-width: 960px) {
  img.me {
    max-width: 96px;
  }
  .home .info .info-title span {
    font-size: 450%;
  }
  .home .info .info-body {
    font-size: 120%;
  }
  .more-info {
    font-size: 16px;
  }
}

@media (max-width: 624px) {
  .home .info .info-title {
    margin-bottom: 20px;
  }
  .home .info .info-title span {
    font-size: 300%;
  }
  .home .info .info-body {
    font-size: 100%;
  }
  .more-info {
    font-size: 15px;
  }
  .social-buttons a {
    font-size: 2.3em !important;
  }
}

@media (max-width: 430px) {
  .info-title span {
    margin-top: 10px;
    margin-left: 0 !important;
    display: block;
  }
  .more-info {
    font-size: 14px;
  }
}

/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.5.2
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2017 Daniel Eden
 */
.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

@-webkit-keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
            transform: translate3d(0, 2000px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
            transform: translate3d(0, 2000px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
            transform: translate3d(0, 2000px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInUpBig {
  -webkit-animation-name: fadeInUpBig;
          animation-name: fadeInUpBig;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
          animation-name: fadeInLeft;
}
/*# sourceMappingURL=style.css.map */