@import '_mixins.scss';
@import '_var.scss';

// body {
//   line-height: 1;
// }

// ol, ul {
//   list-style: none;
// }

// ul.circle {
//   li {
//     list-style-type: circle;
//     margin-left: 40px;
//     font-size: .8em;
//     margin-bottom: 5px;
//   }
// }

// table {
//   border-collapse: collapse;
//   border-spacing: 0;
// }

*, *:before, *:after { 
	-moz-box-sizing: border-box !important; 
    -webkit-box-sizing: border-box !important; 
     box-sizing: border-box !important; 
}
::selection { 
	background: $red-a400;
	color: $white;
}
::-moz-selection { 
	background: $red-a400;
	color: $white; 
}

html {
	font-family: $font-content;
	font-size: 16px;
	font-weight: 400;
}

body {
	margin: 0;
	background-color: $grey-900;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500 ;
	color: white;
    margin-top: .8rem;
    margin-bottom: .6rem;
    font-weight: normal;
    line-height: 1.25;
    letter-spacing: -.03em;
    text-rendering: optimizeLegibility;
}
h1 {
	font-size: 2.5rem;
	font-weight: normal;
}

hr {
	border : 0;
	height: 1px; 
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}

.pull-left { float: left }
.pull-right { float: right }

canvas {
	width: 100%;
	display:block;
}

#particles {
	@include flexbox();
	width: 100%;
	height: 100vh;
	position: fixed;
}

.wrapper {
	position: relative;
	display: block;
	pointer-events: none;	
}

.left,
.right {
	top: 0;
	pointer-events: none;
	// width: 50%;
	height: 100vh;
}

.left {
	width: 100%;
	left: 0;
	position: relative;
	overflow: hidden;
}

.right {
	// left: 50%;
	position: fixed;
	z-index: 1;

	&.expanded {
		visibility: visible;
		@include vendor-prefix(transition, .3s);
		@include vendor-prefix(transform, translateX(-10%));
	}
}

// .content-wrapper {
// 	pointer-events: none;
// 	z-index: 2;
// 	width: 100%;
// 	overflow: hidden;
// 	position: relative;
// 	visibility: hidden;
// }

// section {
// 	@include flexbox();
// 	height: 100vh;
// 	align-items: center;
// 	justify-content: center;
// 	flex-direction: column;
// }

.content {
	padding: 30px;
}

.home {
	display: table;
	pointer-events: none;
	@include flexbox();
	align-items: center;
	justify-content: flex-start;
	margin-left: 8%;
	padding-right: 8%;
	height: 100vh;

	a, span { pointer-events: auto !important; }

	.info {
		.info-title {
			margin-bottom: 30px;
			span { 
				vertical-align: middle;
				margin-left: 20px; 
				color: #fff;
				font-size: 700%;
			}
		}
		.info-body {
			pointer-events: none;
			@include animation-delay(.2s);
			margin-top: 5px;
			font-size: 150%;
			color: #777;
			.terminal {
				font-weight: 700;
				background: $grey-950;
				.terminal-prompt { color: $lightgreen-A400 }
				.terminal-text, .terminal-caret { color: $grey-300; }
			 }
			.country-flag { 
				margin-left: 5px;
				width: 25px; 
			}
		}
		.info-buttons {
			width: 100%;
			margin-top: 50px;
			pointer-events: none;
			display: inline-block;

			.btn-info {
				display: block;
				padding: 13px 25px 13px 25px;
				text-decoration: none;
				letter-spacing: 1px;
				text-transform: uppercase;
				color: $grey-300;
				background-color: $grey-800;
				@include border-radius(50px);
				@include vendor-prefix(transition, background-color .3s ease);

				.fas, .far, .fal, .fab { margin-right: 10px; }
				&:hover {
					background-color: $grey-850; 
				}
			}
			.social-buttons {
				display: inline-block;
				a {
					color: $grey-800;
					display: inline-block;
					@include vendor-prefix(transition, color .3s ease);
					&.linkedin:hover { color: $social-linkedin; }
					&.github:hover { color: $social-github; }
					&.greasyfork:hover { color: $social-greasyfork; }
					&:not(:last-child) { margin-right: 15px; }
				}
			}
		}
	}
}

.blink {
	@include vendor-prefix(animation-duration, 1.2s);
	@include vendor-prefix(animation-name, blink);
	@include vendor-prefix(animation-iteration-count, infinite);
	@include vendor-prefix(animation-timing-function, steps(2, start));

	@keyframes blink {
		80% { visibility: hidden; }
	}
}

img.me {
	vertical-align: middle;
	background-image: url("../images/me.jpg");
	background-repeat: no-repeat;
	@include border-radius(50%);
	border: 3px solid $white;
	box-shadow: 1px 2px 10px 1px rgba(0,0,0,0.3);
	max-width: 128px;
}
.name {
	@include animation-delay(.2s);
}
.dim {
	color: #ffffffa8;
	@include animation-delay(.4s);
}

#nav-projects {
	@include animation-delay(.2s);
}
#nav-skills {
	@include animation-delay(.4s);
}
#nav-contact {
	@include animation-delay(.6s);
}

@media (max-width: 960px) {
	img.me {
		max-width: 96px;
	}
	.home {
		.info {
			.info-title span { font-size: 450%; }
			.info-body { font-size: 120%; }
		}
	}
}
@media (max-width: 624px) {
	img.me {
		max-width: 64px;
	}
	.home {
		.info {
			.info-title {
				margin-bottom: 20px;
				span { font-size: 300%; }
			}
			.info-body { font-size: 100%; }
		}
	}
}
@media (max-width: 430px) {
	.info-title {
		span {
			margin-top: 10px;
			margin-left: 0 !important;
			display: block;
		}
	}
}


/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.5.2
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2017 Daniel Eden
 */

.animated {
	animation-duration: 1s;
	animation-fill-mode: both;
}

@keyframes fadeInUp {
	from {
	  opacity: 0;
	  transform: translate3d(0, 100%, 0);
	}
  
	to {
	  opacity: 1;
	  transform: none;
	}
  }
  
  .fadeInUp {
	animation-name: fadeInUp;
  }
  
  @keyframes fadeInUpBig {
	from {
	  opacity: 0;
	  transform: translate3d(0, 2000px, 0);
	}
  
	to {
	  opacity: 1;
	  transform: none;
	}
  }

@keyframes fadeInUpBig {
	from {
		opacity: 0;
		transform: translate3d(0, 2000px, 0);
	}

	to {
		opacity: 1;
		transform: none;
	}
}
.fadeInUpBig { animation-name: fadeInUpBig; }

@keyframes fadeInDown {
	from {
		opacity: 0;
		transform: translate3d(0, -100%, 0);
	}

	to {
		opacity: 1;
		transform: none;
	}
}
.fadeInDown { animation-name: fadeInDown; }

@keyframes fadeInLeft {
	from {
		opacity: 0;
		transform: translate3d(-100%, 0, 0);
	}

	to {
		opacity: 1;
		transform: none;
	}
}
.fadeInLeft { animation-name: fadeInLeft; }